[Unit]
Description={{ webhook }} webhook service
After=network.target
[Service]
Type=simple
WorkingDirectory={{ webhook_working_dir }}
ExecStart=/usr/bin/webhook -verbose -hooks {{ webhook }}
RemainAfterExit=yes
[Install]
WantedBy=multi-user.targets
